* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background-color: lightgray;
}
nav {
	height: 15vh;
	background: darkblue;
	color: white;
	text-decoration: none;
	font-size: 32px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

tr	{
	text-align: center;
}

.main-table {
    display: block; 
    max-height: 80vh; 
	max-width: 90vw;
    overflow: auto;
	margin-left: 5vw;
	margin-top: 5vh;
	font-size: 18px;
}

.table-data {
    background-color: #d3d6f8;
}
